.pic-bg-music {
	background-image: url("background.jpg");
    background-size: cover;
    color: white;
}
body {
	text-align: center;
}
.bg-signup {
	background-image: url("bg-signup.jpg");
    background-size: cover;
}
.who{
	background-color: #adad85;
}
.who-r{
	font-family: 'Montserrat'
	sans-serif; 
	font-size: 300%
}
.who-r-we{
	margin-left: 30px;

}
