
<!DOCTYPE html>
<html lang="en">
<head>
	<title>CoMusic</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 

	<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='yaniv.css') }}">

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	<link rel="shortcut icon" href="/static/logo.png">
</head>
<body>

<nav class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
      	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          	<span class="sr-only">Toggle navigation</span>
          	<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main') }}">CoMusic</a>
      	</div>
      	<div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              	<li class="active"><a href="{{ url_for('main') }}">Home</a></li>
              	<li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
              	<li><a href="{{ url_for('search') }}">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				<li><img src="{{ url_for('static',filename='logo.png')}}" alt="logo" height="50px" width="50px" style=""></li>          
			</ul>
      	</div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="pic-bg-music" style="padding-bottom: 50px;">

	{%if error%}
	<h1>Bad Login, Try again !</h1>
	{%endif%}
<div class="container-fluid">
	<div class="row">
		<h1 style="font-family: 'Montserrat', sans-serif; font-size: 700%">CoMusic</h1>
		<h3> Different Thought.<br> Different Sound.<br> Same Music.</h3>
	</div>
	<div class="row">
		<h2 style="font-family: 'Montserrat', sans-serif; font-size: 300%">Sign in</h2>
	</div>
</div>

<div class="container-fluid" id="tal">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<form action="{{ url_for('main') }}" method="POST">
			<div class="form-group">
		       	<label for="email"></label>
		      	<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email"><br>
		        <label for="pwd"></label>
		        <input type="password" class="form-control input-lg" name="password" id="pwd" placeholder="Password">
		    </div>
		    <input type="submit" name="Submit" value="Sign In" class="btn btn-lg btn-primary btn-block">
		</form>
		<br>
		<p style="font-size: 150%">Don't have an account? sign up for free!</p>
		<a href="{{ url_for('sign_up') }}" class="btn btn-lg btn-primary btn-block">Sign Up</a>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h3 style="font-family: 'Montserrat', sans-serif; font-size: 300%">About Us</h3>
			<p style="font-size: 150%">
			Team CoMusic proud to present our webside to you.<br>
			CoMusic is a new way to get people from other nationalities to know each other and to pass meaningful experiences together through music.<br>
			In the webside you have the opportunity to talk to new people and meet them through your talent.<br> 
			Our goal is to start giving people a way to communicate with passion.</p>
			</p>
		</div>
		<div class="col-md-4"><img src="{{ url_for('static',filename='logo.png')}}" alt="logo" height="100%" width="100%" style=""></div>
	</div>
</div>

<div style="background-color: #EDEDED; padding: 15px;">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Glny4jSciVI" frameborder="0" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/L7IP4UlXvG8" frameborder="0" allowfullscreen></iframe>
</div>



<div class="container-fluid who">
	<div class="row">
		<h3 class="who-r">Who Are We?</h3>
			<div>
				<div class="col-md-2 who-r-we">
					<h4>nada</h4>
					<img src="static/grumpy-cat.jpg">
				</div>
				<div class="col-md-2 who-r-we">
					<h4>nada</h4>
					<img src="static/grumpy-cat.jpg">
				</div>
				<div class="col-md-2 who-r-we">
				<h4>nada</h4>
					<img src="static/grumpy-cat.jpg">
				</div>
				
				<div class="col-md-2 who-r-we">
					<h4>nada</h4>
					<img src="static/grumpy-cat.jpg">
				</div>
				<div class="col-md-2 who-r-we">
					<h4>nada</h4>
					<img src="static/grumpy-cat.jpg">
				</div>


			</div>

	</div>
</div>



</body>
</html>
