 <!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='search.css') }}">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  	<link rel="shortcut icon" href="/static/logo.png">

	</head>
<body class="bg-search">
<nav class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main') }}">CoMusic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                <li class="active"><a href="{{ url_for('search') }}">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
        <li><img src="{{ url_for('static',filename='logo.png')}}" alt="logo" height="50px" width="50px" style=""></li>          
      </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
  
<br>
<br>
<div class="container-fluid">

	<form action="{{ url_for('search') }}">

    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-5">
          <div class="input-group" id="adv-search">
            <input type="text" class="form-control input-lg" name="instrument" id="search" placeholder="Search For Instrument"/>
              <div class="input-group-btn">
                <div class="btn-group" role="group">
                  <div class="dropdown dropdown-lg">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" value="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </form>

  {%if error2%}
  <h1>You are not logged in !</h1>
  {%endif%}

  {%if error1%}
  <h1>No results, try again !</h1>
  {%endif%}
  
  <table class="table">
    <thead class="search-head">
      <tr>
        <th>Name</th>
        <th>Instruments</th>
        <th>Gender</th>
        <th>Nationality</th>
        <th>City</th>
        <th>Date of Birth</th>
        <th>Favorite TV Show</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="search">
      {% for person in users %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{%for instrument in person.instrument%}
            {{ instrument.name }}
            {%endfor%}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.nationality }}</td>
        <td>{{ person.city }}</td>
        <td>{{ person.dob.day }}/{{ person.dob.month }}/{{ person.dob.year }} </td>
        <td>{%for interest in person.interests%}
            {{ interest.name }}
            {%endfor%}</td>
        <td><a href="{{ url_for('compare',person_id=person.id) }}" class="btn btn-primary" role="button">Compare</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



</div>

	</body>
</html> 




